cupy-cuda12x
distributed
dask
dask-cuda
fastapi
uvicorn[standard]
pynvml==11.4.1
rmm-cu12
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
psycopg2-binary
alembic
python-multipart
geopandas
geoalchemy2
earthengine-api
asyncio
itsdangerous
starlette-admin
celery[redis]
redis
pydantic_settings